<html>
    <body>
        <h1 class="test-name">{{name}}</h1>
        <div class="content">
            {{iframe src=url width="calc(100vw - 62px)" height="100%" content-width="false"}}
            <div class="boxes">
                {{field type="checkbox" name="labelBug" label="Баг подписи"}}
                {{field type="checkbox" name="displayBug" label="Баг отображения"}}
                {{field type="checkbox" name="missingElement" label="Пропал элемент"}}
                {{field type="checkbox" name="elementOverlap" label="Наложение элемента"}}
                {{field type="checkbox" name="colorBug" label="Баг цвета"}}
                {{field type="checkbox" name="interactivityBug" label="Ошибка интерактивности"}}
            </div>
            <div class="comment">
                {{field type="textarea" name="comment" width="calc(100vw - 62px)" rows=5 placeholder="Отчет по тесту..."}}
            </div>
        </div>
    </body>
</html>
